/* ------------- CSS VARIABLES -------------- */
:root{

  /* Colour palettes */
  --primary: #2E86AB; 
  --secondary:#F5f5f5;
  --tertiary:#ffd700;
  --black :  #222222; 
  --white: #F5f5f5;
  --blue : #2E86AB; 
  --red : #F24236; 

  --fontSerif: 'Crimson Text', serif;
  --fontSans: 'Roboto', sans-serif; 
}


/* ------------- ELEMENT CLASSES -------------- */

html {
  position: relative;
  min-height: 100%;
}

body {
  background: var(--secondary);
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  color: var(--black);
  font-family: var(--fontSans);
  padding: 0 16px;
  margin: 0 0 0 0;
  min-height: 100vh;
}

h1{
  color: var(--blue);
  font-size: 3rem;
  font-family: var(--fontSerif);
  text-align: center;
}

h2{
  font-size: 1.2rem;
  margin-top: 0;
  padding-top: 3%;
  text-align: center;
}

h3{
  font-size: 1.0rem;
  font-weight: 600;
  margin-top: 0;
  padding-top: 3%;
  text-align: center;
}

p{
  font-size: 0.8rem;
  margin: 10% 0;
}

div{
  margin:0;
}

.container{
  text-align: center;
}